.right-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFC800;
    border-radius: 50%;
    padding: 50px;
}

#hello{
    height: 90vh;
}

.jumboh1{
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.562);
    font-size: 50px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.jumboh2{
    font-size: 80px;
    font-family: 'Pacifico';
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.377);
    font-weight: 400;
    color: white;
}

.column .btn{
    background-color: white;
    color: #FFC800;
    font-weight: bold;
    font-size: 17pt;
    letter-spacing: 1px;
    border-radius: 10px
}

.column .btn:hover{
    background-color: #FFC800;
    color: white;

}

.img{
    display: flex;
    align-items: center;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .jumboh1{
        font-size: 30px;
        font-weight: 600;
    }
    .jumboh2{
        font-size: 50px;
        font-weight: 400;
    }
    
    .btn{
        font-weight: bold;
        font-size: 12pt;
    }
}


#welcome{
    padding: 120px 0;
    /* background: url(/public/images/welcome.jpg) no-repeat; */
    background-color: rgb(241, 241, 241);
    background-attachment: fixed;
    text-align: center;
}

.section-title {
    margin-bottom: 75px;
    text-align: center;
}

h1.title {
    color: #b3b3b3;
    font-size: 80px;
    font-weight: 800;
    margin: 0 0 40px;
    line-height: 58px;
}

h1.title span{
    color: #ffc800;
    font-family: 'Pacifico';
    font-weight: 400;
}

h2.sub-title {
    color: #b2b2b2;
    font-size: 24px;
    text-transform: uppercase;
}

h2.sub-title span {
    font-weight: 800;
}

.product-image{
    background: url(/images/circle_bg.png) no-repeat scroll bottom center;
	min-height: 360px;
	padding-bottom: 20px;
	position: relative;
}

.product-info h2 {
    color: #b3b3b3;
    font-size: 54px;
    font-weight: 800;
}

.product-info span {
    color: #dedede;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

/* #newsletter{
    text-align: center;
} */

.section-search{
    /* display: flex; */
    justify-content: center;
}

.section-title h1{
    color: #b3b3b3;
    font-size: 70px;
    font-weight: 800;
    margin: 0 0 40px;
    line-height: 58px;
}

.btn-primary{
    background-color:white !important;
    color: #FFC800 !important
}

.btn-primary:hover{
    background-color: #FFC800 !important;
    color: white !important
}

#newsletter{
    background: url(https://wallpaperplay.com/walls/full/1/5/a/321246.jpg) no-repeat;
    background-attachment: local;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 120px 0;
}

#our-breeds{
    padding: 120px 0;
    background: url(https://thewallpaper.co//wp-content/uploads/2016/01/dog-wallpapers-dog-desktop-images-animal-background-images-hd-dog-images-hairy-dogs-dog-photos-amazing-animal-wallpapers-hd-dogs-2048x1080.jpg);
}

.filter-button{
    text-align: center;
    padding: 0 0 75px 0;
}

.filter-button .btn{
    background-color: white;
    color: #FFC800;
    font-weight: bold;
    font-size: 17pt;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 20px;
    width: 200px;
    height: 70px;
}

.filter-button .btn:hover{
    background-color: #FFC800;
    color: white;
}

.breed-item { 
	width:49% !important;
	max-width:49% !important;
	padding-left:15px;
	padding-right:15px;
}

.breed {
	margin-bottom: 60px;
	background-color: #fff;
	display: flex;
}

.breed-info {
	color: #b3b3b3;
	padding:15px 25px;
	background-color: #fff;
	position: relative;
	min-width:50%;
	max-width:50%;
}

.breed-info:before {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	border:10px solid transparent;
	border-right:10px solid #ffc800;
	border-top:10px solid #ffc800;
}

.breed, .breed-photo, .breed-info { min-height:400px}
.breed-photo img { height:100%; min-height:400px; max-height:400px;}
.breed-photo{
    padding-left: 0
}
h3.breed-name {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 35px;
}

ul.breed-desc{
    padding: 0
}

ul.breed-desc li {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom:10px;
	white-space: nowrap;
    position:relative;
    list-style: none;
}

ul.breed-desc li span {
	font-size: 15px;
	font-weight: 800;
	display: inline-block;
	margin-right:5px;
	white-space: nowrap;
	position:absolute;
	right:0;
	top:-4px;
}

ul.breed-desc li span strong {
	font-size: 20px;
	color: #ffc800;
	text-align: right;
}

.view-more{
    font-weight: bold;
    font-size: 17pt;
    letter-spacing: 1px;
    width: 300px;
    height: 70px;
    background-color: none;
}