.find-your-dog{
    background-color: rgba(255, 255, 255, 0.527);
    padding: 50px;
}

.top-section{
    padding: 0 30% 0 30%;
    background-image: url(https://wallpapersflood.com/wp-content/uploads/husky_puppy_cute_animals_4k_6912.jpg);
    background-size: cover;
    background-position-y: -350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background: #a8a8a8; */
    justify-content: flex-end;
}

.find-your-dog h5{
    font-size: 35px;
    text-shadow: 0 1px 4px rgba(97, 70, 116, 0.3);
    color: #505050;
    font-weight: bold;
    margin-bottom: 30px;
}

.body-breeds{
    display: flex;
    justify-content: center;
    font-family: arial,helvetica,sans-serif;

    flex-direction: column;
}

.mdb-select{
    width: 100%;
    height: 60px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 30px;
    border: 0;
    outline: none;
    color: #646464;}

.search-section .icon{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #646464;}

.search-section{
    background: white;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.button-section{
    display: flex;
    justify-content: space-evenly;
}

.btn-primary{
    width: 100%;
    border-radius: 30px;
    font-weight: bold;
    font-size: inherit;
}

/* ====================================== */

.middle-section{
    height: 300px;
    background: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.middle-section .items{
    display: flex;
    justify-content: space-between;
}

.middle-section .title{
    text-align: center !important;
    margin: 0;
    font-size: inherit;
    letter-spacing: 1.5px;
    font-weight: bold !important;
    color: #646464;
}

.title-body:hover{
    background: #ffa200;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}

.card{
    border-radius: 10px !important;
}

/* ========================== */
.filter{
    text-align: center;
}
.filter h6{
    font-weight: bold;
    text-align: center;
    margin: 0px;
    color: #505050
}

.filter a{
    color: #9000f0;
    font-weight: bold;
}

.filter a:hover{
    text-decoration: underline;
}

.btn-amber:hover{
    color: white;
    background-color: #646464 !important;
}

.filter-row{
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.filter-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* ======================= */
.breed-name{
    text-align: center;
    font-size: 15px;
}

.breed-name a:hover{
    cursor: pointer;
    color: white !important;
    font-weight: bold;
}

.result-items{
    padding: 13px
}

.result-items .card-body{
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.result-items .card-body:hover{
    color: white;
    background-color: #ffa200;
}

.result-section{
    margin-top: 100px;
}

.pagination{
    justify-content: flex-end;
}

.pagination .btn-amber{
    font-size: 15px;
    font-weight: bold;
}